@font-face {
   font-family: "Stolzl";
   src: url("/src/assets/fonts/StolzlRegular.ttf");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Gotham Pro";
   src: url("/src/assets/fonts/GothamPro-Medium.woff2");
   font-style: normal;
   font-weight: 400;
}

@font-face {
   font-family: "Gotham Pro";
   src: url("/src/assets/fonts/GothamPro-Bold.woff2");
   font-style: normal;
   font-weight: 700;
}