@import './initial/reset';
@import './initial/fonts';
@import './initial/mixin';
@import './header/header';
@import './btn/btn';
@import './contacts/contacts';

body {
   min-height: 100vh;
   background: #210E09;
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 1345px;
   width: 100%;
   padding: 0 20px;
   margin: 0 auto;
}

.title {
   font-family: 'Gotham Pro', sans-serif;
   font-weight: 400;
   font-size: 40px;
   line-height: 150%;
   text-align: center;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: #FFFFFF;
}

.main {
   flex: 1;
}

.logo {
   display: flex;
}